@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "~tailwindcss";

.markdown-body a {
  color: #0366d6;
}

.markdown-body pre {
  overflow-y: auto;
}

.markdown-body a:hover {
  text-decoration: underline;
}
