@import "~@fortawesome/fontawesome-free/css/all.min.css";

// markdown css
@import "primer-markdown/index.scss";
@import "./../../node_modules/github-syntax-light/lib/github-light.css";

@import "~tailwindcss";

.markdown-body a {
  color: #0366d6;
}

.markdown-body pre {
  overflow-y: auto;
}

.markdown-body a:hover {
  text-decoration: underline;
}
