<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Patrique Ouimet" />
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />

    <!-- Additional meta tags -->
    <%= contentOf("meta") %>

    <link rel="shortcut icon" type="image/x-icon" href="<%= assetPath("images/favicon.ico") %>"/>

    <title><%= if(pageTitle) { %><%= pageTitle %><% } else { %>Patrique Ouimet<% } %></title>

    <%= stylesheetTag("application.css") %>

    <!-- Add RSS feed links -->

    <!-- Additional CSS -->
    <%= contentOf("css") %>
  </head>
  <body>
    <!-- Header -->
    <!-- TODO: determine how to get authenticated user -->
    <!-- @if(Auth::user() && Auth::user()->is_admin) -->
    <!-- <div class="flex mb-3 mr-5 ml-5 items-center">
        <ul class="w-full p-3 list-reset flex border-solid border-b border-gray-300">
            <li class="w-1/2 text-center">
                <a class="text-black font-semibold no-underline hover:text-black" href="<%= rootPath() %>admin/dashboard">Dashboard</a>
            </li>
            <li class="w-1/2 text-center">
                <a class="text-black font-semibold no-underline hover:text-black" href="<%= rootPath() %>admin/media">Media</a>
            </li>
        </ul>
    </div> -->
    <!-- @endif -->
    <div class="flex mt-3 mb-3 mr-5 ml-5 items-center">
      <div class="flex w-5/6">
        <div class="mt-1 mr-2">
          <picture>
            <source
              srcset="<%= rootPath() %>assets/images/black-white-profile.webp"
              type="image/webp"
            />
            <img
              src="<%= rootPath() %>assets/images/black-white-profile.png"
              type="image/png"
              alt="Grayscale profile picture"
              class="rounded-full w-12 m-auto mb-3"
            />
          </picture>
        </div>
        <div>
          <p class="block text-2xl">Patrique Ouimet</p>
          <p class="block text-xs italic">Developer</p>
        </div>
      </div>
      <div class="w-1/6 text-right">
        <a href="<%= if(current_user) { %><%= logoutPath() %><% } else { %><%= loginPath() %><% } %>"class="mt-2 mr-2"
          title="<%= if(current_user) { %>Logout<% } else { %>Login<% } %>"
          ><i class="fas <%= if(current_user) { %>fa-sign-out-alt<% } else { %>fa-sign-in-alt<% } %>"></i
        ></a>
      </div>
    </div>

    <!-- Navigation -->
    <div class="mb-4">
        <div class="flex justify-center w-full sm:w-4/5 md:w-4/5 lg:w-4/5 xl:w-3/5 pl-6 sm:pl-8 md:pl-12 lg:pl-20 xl:pl-24 pr-6 sm:pr-8 md:pr-12 lg:pr-20 xl:pr-24 mx-auto">
            <ul class="w-full p-3 list-reset flex border-solid border-b border-t border-gray-300">
                <li class="w-1/4 text-center">
                    <a class="text-black font-semibold no-underline hover:text-black" href="/">About</a>
                </li>
                <li class="w-1/4 text-center">
                    <!-- Update with helper route path -->
                    <a class="text-black font-semibold no-underline hover:text-black" href="<%= blogPath() %>">Blog</a>
                </li>
                <li class="w-1/4 text-center">
                    <a class="text-black font-semibold no-underline hover:text-black" href="/tip">Tips</a>
                </li>
                <li class="w-1/4 text-center">
                    <a class="text-black font-semibold no-underline hover:text-black" href="/video">Videos</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="w-full sm:w-4/5 md:w-4/5 lg:w-4/5 xl:w-3/5 pl-6 sm:pl-8 md:pl-12 lg:pl-20 xl:pl-24 pr-6 sm:pr-8 md:pr-12 lg:pr-20 xl:pr-24 flex flex-wrap">
            <%= yield %>
        </div>
    </div>

    <div class="w-full sm:w-4/5 md:w-4/5 lg:w-4/5 xl:w-3/5 mt-4 ml-auto mr-auto">
        <%= partial("flash.html") %>
    </div>

    <%= javascriptTag("application.js") %>

    <!-- Additional JS -->
  </body>
</html>
