<% contentFor("meta") {} %>
<% contentFor("css") {} %>

<div class="w-full sm:w-4/5 md:w-4/5 lg:w-4/5 xl:w-3/5 mt-4 ml-auto mr-auto">
  <%= form_for(user, {action: registerPath(), class: "bg-white shadow-md rounded px-8 pt-6 pb-4"}) { %>
        <h2>Register</h2>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2 {{ $errors->has('name') ? 'border-red-500' : '' }}" for="name"></label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" name="Name" type="text" placeholder="Name">
            <%= if (errors) { %>
                <%= for (error) in errors.Get("name") { %>
                <p class="text-red-500 text-xs italic"><%= error %></p>
                <% } %>
            <% } %>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2 {{ $errors->has('email') ? 'border-red-500' : '' }}" for="email"></label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="Email" type="email" placeholder="Email">
            <%= if (errors) { %>
                <%= for (error) in errors.Get("email") { %>
                <p class="text-red-500 text-xs italic"><%= error %></p>
                <% } %>
            <% } %>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2 {{ $errors->has('password') ? 'border-red-500' : '' }}" for="name"></label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" name="Password" type="password" placeholder="Password">
            <%= if (errors) { %>
                <%= for (error) in errors.Get("password") { %>
                <p class="text-red-500 text-xs italic"><%= error %></p>
                <% } %>
            <% } %>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2 {{ $errors->has('password_confirmation') ? 'border-red-500' : '' }}" for="name"></label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" name="PasswordConfirmation" type="password" placeholder="Confirm Password">
            <%= if (errors) { %>
                <%= for (error) in errors.Get("PasswordConfirmation") { %>
                <p class="text-red-500 text-xs italic"><%= error %></p>
                <% } %>
            <% } %>
        </div>
        <div class="flex items-center justify-center mb-4">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Register</button>
        </div>
        <div class="flex items-center justify-center">
             <!-- TODO: implement auth via github -->
            <a class="text-dark py-2 px-4 focus:outline-none" href="/auth/github"><i class="fab fa-github mr-2"></i>Github</a>
        </div>
    <% } %>
</div>



<!-- <div class="auth-wrapper">
  <div class="sign-form">
    <h1>Register</h1>

    <%= form_for(user, {action: registerPath()}) { %>
      <%= f.InputTag("Email") %>
      <%= f.InputTag("Password", {type: "password"}) %>
      <%= f.InputTag("PasswordConfirmation", {type: "password"}) %>

      <button class="btn btn-success">Register!</button>
    <% } %>
  </div>
</div> -->

